@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

h1 { 
    font: 4em roboto slab;
}
h2 { 
    font: 3,5em roboto slab;
}
h3 { 
    font: 3em roboto slab;
}
h4 { 
    font: 2,5em roboto slab;
}
h5 { 
    font: 2em roboto slab;
}
h6 { 
    font: 1,5em roboto slab;
}
p { 
    font: 1em roboto slab;
}
strong {
    font: roboto slab;
}
input{
    font: roboto slab;
}
form{
    font: roboto slab;
}
label{
    font: roboto slab;
}
h1{color: #764ABC;

}
h2{
    color: #764ABC;
}
h3 {color: #764ABC;
}
h4 {
  color: #ffffff;
}
h5{
    color:000000
}

h6{
    color: #764ABC;
}
p{
    color: #000000;
    font-stretch: condensed;
    font-size: smaller;
} 

.Box {
display: flex;
padding: 0%;
    
    }

.left-box{
width:50%;
}

.rigth-box{
width: 50%;
justify-content: center;
}




.Red-Card-BMW{
display: inline-block;
width: 50%;
margin:0px;
padding: 0%;
}


.White-Card-BMW{
display: inline-block;
margin: auto;   
}


.right-box{
padding-left: 10%;
}
.Presentation{
    display: block;
    padding-left: 20%;
    padding-right: 5%;
}
.Cars-interior-exterior{
padding-left: 20%;
padding-right: 5%;
justify-content: center;
}

button{
background-color:#764ABC;
border: none;
border-radius:50px;
text-decoration : none;
width:35px;
height:35px;
}

input{
    border: #764ABC;
    background-color:#c3c3c3;
    border: none;
    border-radius:50px;
    text-decoration : none;
    width:140px;
    height:30px;
}
.Red-Card-BMW{
display: inline;
align-items: center;
align-content: center;
}

.White-Card-BMW{
display: inline;
align-items: center;
align-content: center;
}
.stock-1{
column-gap: 4px;
}

.stock-2{
column-gap: 4px;
}

.price-1{
column-gap: 10px;
}

.price-2{
column-gap: 10px;
 }

 .form{
    width: 500px;
    margin: 0 auto;
    margin-top: 150px;
    font-family: 'roboto slab';
    background: #fff
    
  }
  .car-price{
    padding-top: 20%;
    display: flex;
    margin-bottom: 15px ;
    column-gap: 20px;
    align-content: center;
    align-content: center;
  }
  .car-price input{
    border: #764ABC;
    background-color:#c3c3c3;
    border: none;
    border-radius:50px;
    text-decoration : none;
    width:200px;
    height:30px;
  }
 
.like{
color: #ffffff;
background-color: #000000;
transform: click;
transition: transform 50ms;
animation: click ;

}

.like:hover{
background-color: red;
}

.like:active{
background-color: red;
}
.like:on-click {
background-color: red;
}
